{% extends 'base.html' %}

{% block tile %} Home Page {% endblock %}


{% block header %} 
    <!--header section-->
    <div class="container">
        <div class="d-flex justify-content-between mb-0">
            <h2 class="align-self-center">Post</h2>
            <a class=" btn btn-info align-self-center" 
            role="button"
            href="create.html">new</a>
        </div>
        <hr>

    </div>
{% endblock %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
        {% endfor %} 
    {% else %}
        <div class="container border mb-3 p-2">
            <div class="px-3">
                <div class="">
                    <a href="#">By Su</a>
                    <small>on May 20, 2020</small>
                    <hr class="mt-1">
                </div>
                <div>
                    <h2>Hello, World!</h2>
                    <p>Today i used flask, and it was nice</p>
                </div>
            </div>
        </div>

        <div class="container border p-2">
            <div class="px-3">
                <div class="">
                    <a href="#">By Su</a>
                    <small>on May 20, 2020</small>
                    <hr class="mt-1">
                </div>
                <div>
                    <h2>Register your PVC!</h2>
                    <p>In Preparation of the 2023 Presidential Election</p>
                </div> 
            </div>   
        </div>
    {% endif %}

{% endblock %}
