<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <span class="brand bg-icon shadow">Flaskr</span>
            </a>
        </div>

        
            <ul class="nav navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a  class="nav-link" href="{{ url_for('account') }}">Account</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a  class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
            </ul>
                {% endif %}
    </div>
</nav>
