

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('home') }}">
                        <span class="brand bg-icon shadow">Flaskr</span>
                    </a>
                </div>
    
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a  class="nav-link" href="#">User</a>
                    <li class="nav-item">
                        <a  class="nav-link" href="{{ url_for('login') }}">Logout</a>
                </ul>
            </div>
        </nav>
