{% extends 'base.html' %} 

{% block title %} Flaskr - Register {% endblock %}

{}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" 
            role="alert">
                {{ message }}
                <button type="button" class="btn-close" 
                data-bs-dismiss="alert" aria-label="Close"></button>
            </div> 
        {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container reglogin">
    <div class="form-group">
        <div class="col-12">
            <h3 class="text-center m-4">New Users Register Below</h3>
        </div>
        <form method="post" class="form-control">
                {{ form.hidden_tag() }}
            <div class="p-2">
                {{ form.fullname.label(placeholder='fullname', class='form-control-label fw-bold')}}
                {{ form.fullname(class='form-control form-control-lg mt-3')}}
            </div>
            <div class="p-2">
                {{ form.username.label(placeholder='username', class='form-control-label fw-bold')}}

                {% if form.username.errors %} 
                    {{ form.username(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class='form-control form-control-lg mt-3')}}
                {% endif %}
            </div>
            <div class="p-2">
                {{ form.email.label(placeholder='email', class='form-control-label fw-bold')}}
                
                {% if form.email.errors %} 
                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class='form-control form-control-lg mt-3')}}
                {% endif %}
            </div>
            <div class="p-2">
                {{ form.password.label(placeholder='password', class='form-control-label fw-bold')}}
                
                {% if form.password.errors %} 
                    {{ form.password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class='form-control form-control-lg mt-3')}}
                {% endif %}
            </div>

            <div class="p-2">
                {{ form.confirm_password.label(placeholder='Confirm Password', class='form-control-label fw-bold')}}
                
                {% if form.confirm_password.errors %} 
                    {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class='form-control form-control-lg mt-3')}}
                {% endif %}
            <div class="my-3">
                {{ form.submit(class='btn btn-dark') }}
            </div>
        </form>
    </div>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already have an account? <a href="{{ url_for('login') }}" class="ml-2">Sign in</a>
    </small>
</div>
{% endblock %}