{% extends 'base.html' %} 

{% block title %} Flaskr - Register {% endblock %}

{}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" 
    role="alert">
        {{ message }}
        <button type="button" class="btn-close" 
        data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 
{% endfor %}
<div class="container reglogin">
    <div class="form-group">
        <div class="col-12">
            <h3 class="text-center m-5">New Users Register Below</h3>
        </div>
        <form method="post" class="form-control">
                {{ form.hidden_tag() }}
            <div class="p-2">
                {{ form.fullname.label(placeholder='fullname', class='form-control-label fw-bold')}}
                {{ form.fullname(class='form-control form-control-lg mt-3')}}
            </div>
            <div class="p-2">
                {{ form.username.label(placeholder='username', class='form-control-label fw-bold')}}
                {{ form.username(class='form-control form-control-lg mt-3')}}
            </div>
            <div class="p-2">
                {{ form.email.label(placeholder='email', class='form-control-label fw-bold')}}
                {{ form.email(class='form-control form-control-lg mt-3')}}
            </div>
            <div class="p-2">
                {{ form.password.label(placeholder='password', class='form-control-label fw-bold')}}
                {{ form.password(class='form-control form-control-lg mt-3')}}
            </div>

            <div class="p-2">
                {{ form.confirm_password.label(placeholder='Confirm Password', class='form-control-label fw-bold')}}
                {{ form.confirm_password(class='form-control form-control-lg mt-3')}}
            <div class="my-3">
                {{ form.submit(class='btn btn-dark') }}
            </div>
        </form>
    </div>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already have an account? <a href="{{ url_for('login') }}" class="ml-2">Sign in</a>
    </small>
</div>
{% endblock %}